main {
  /* margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px; */
  flex-grow: 1;
}
:root {
  --primary: #28536b;
  --secondary: #daf7dc;
  --light: #fafafa;
  --dark: #000000;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(2rem);
  --spacing-five: calc(2.5rem);
}

* {
  box-sizing: border-box;
  font-family: "Righteous", cursive;
}

.main-bg {
  background-color: var(--secondary);
}

.about-left {
  /* text-align: center;
  display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 5px solid --primary;
  padding: 20px;
  border-radius: 25px;
}

.about-right {
  /* display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column; */
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  padding: 20px;
  border-radius: 25px;
}

.photo-div {
  text-align: center;
}

#about {
  font-size: 36px;
  color: var(--primary);
}

#intro {
  font-size: 32px;
}

.img-div {
  background-image: cover;
}

.about-container,
.resume-container,
.card-container,
.contact-container {
  display: flex;
  padding: 30px 30px;
  border-radius: 25px;
  background-color: var(--secondary);
  color: var(--primary);
  width: 100vw;
}

.container {
  /* min-height: 80vh; */
  padding: 6px;
  margin: 22px;
  /* background-color: var(--primary);
  width: 100vw; */
  /* background-image: url("./assets/images/bg.jpg");
  background-size: cover;
  background-position: center; */
}

ul li span {
  padding-right: 6px;
}

.resume-container ul li {
  font-size: 20px;
  margin-bottom: 6px;
}

/*RESUME*/

.resume-left {
  /* flex: 1; */
  width: 50%;
  padding: 20px;
  border-radius: 25px;
  margin-top: 22px;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.resume-left h1,
.resume-right h1 {
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.resume-right {
  /* flex: 1; */
  width: 40vw;
  padding: 20px;
  border-radius: 25px;
  margin-top: 22px;
}

.resume {
  text-align: center;
  /* flex: 1; */
}

.resume h1 {
  font-size: 36px;
}

.resume a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bolder;
}

.skills-title {
  font-size: 38px;
  border-bottom: solid 5px var(--primary);
}

#name {
  font-size: 38px;
  text-decoration: none;
  color: var(--light);
}

#name:hover {
  background: none;
}

.contact-container h1 {
  font-size: 46px;
  margin-bottom: 16px;
}

form label {
  font-size: 22px;
  /* margin-right: 12px; */
}

body {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: var(--light);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 5px 5px;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 20px;
  margin-top: 0;
}

.nav a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.nav a:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.nav a:focus {
  color: var(--primary);
  background-color: var(--secondary);
}

nav {
  color: var(--light);
}

a {
  text-decoration: none;
}

.header {
  background: var(--primary);
  height: 100px;
  /* display: flex; */
}

header a {
  color: var(--light);
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.portfolio-btn {
  background-color: var(--primary);
  color: var(--light);
  padding: 12px;
  margin-top: auto;
  text-decoration: none;
}

.portfolio-btn:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.projects {
  background: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-around;
}

/*PORTFOLIO*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secondary);
}

.card-img {
  max-height: 100%;
  max-width: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.project-card {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  margin: 30px 30px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 4px rgba(77, 77, 77, 0.2);
  object-fit: cover;
}

/*FOOTER*/
footer {
  background: var(--primary);
  height: 125px;
  width: 100vw;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.footer-content {
  display: flex;
  padding-top: 30px;
}

footer ul {
  justify-content: center;
  margin: 0 auto;
}

footer ul li {
  display: inline;
}

footer ul li a {
  text-decoration: none;
  color: var(--light);
  margin: 12px;
}

footer ul li a:hover {
  text-decoration: none;
  color: var(--light);
}

img {
  max-width: 55%;
}

form {
  width: 30%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

li {
  list-style: none;
}

textarea {
  width: 500px;
  height: 125px;
  border: 3px solid var(--primary);
  padding: 5px;
  margin-bottom: 16px;
}

input {
  border: 3px solid var(--primary);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

button {
  background: var(--primary);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 15px;
}

form button {
  margin-top: 22px;
}

.navActive {
  color: var(--secondary);
  text-decoration: none;
}
